<div class="home-container">
  <div class="home-content">

    <div class="home-left">
      <figure class="home-logo">
        <img src="../../../assets/MIV/LOGO/Logo 1.png" alt="Imagem com a logo da NinjaWEB sobre um banner">
      </figure>
      <div class="home-info">
        <h1>Torne-se um<span> ninja</span> !</h1>
        <p>Junte-se a nós e descubra como a NinjaWEB pode levar sua <strong>presença online</strong> para o próximo nível. Vamos <strong>criar um site</strong> que seja verdadeiramente extraordinário e impulsione o sucesso do seu negócio. <strong>Entre em contato</strong> conosco hoje mesmo e desencadeie o poder digital da NinjaWEB!</p>
      </div>
    </div>

    <div class="home-right">
      <fieldset class="home-formulario">
        <img src="../../../assets/MIV/ELEMENTOS COMPLEMENTARES/A red.png" alt="Elemento de design minimalista no topo da pagina">
        <h1>Fale com nossos<span> ninjas</span>.</h1>
        <form class="formulario-contato" action="/enviar.php" method="POST">
          <input type="text" id="nome" name="nome" placeholder="NOME" required>
          <input type="email" id="email" name="email" placeholder="E-MAIL" required>
          <input type="tel" id="telefone" name="telefone" placeholder="TELEFONE" required>
          <button type="submit">CTA CTA CTA</button>
        </form>
      </fieldset>
    </div>

  </div>
</div>
