.header-container{
  width: 100vw;
  height: 80px;
  background-color: #ca3f32;
  position: fixed;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}

.menu-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1920px;
}

.header-logo img{
  width: 250px;
}

.menu-header {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  gap: 5%;
  align-items: center;
  justify-content: flex-end;
}

.menu-header li {
  text-align: left;
  display: block;
  padding: 15px 0;
}

.menu-header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding: 10px 0;
  position: relative;
}

.menu-header a:hover:before {
  opacity: 1;
  color: #222222;
  transform: translateX(0px);
}

.menu-header a:hover {
  color: #222222;
  transform: translateY(-2px);
  transition: 400ms;
}

.menu-header a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 18px;
  height: 4px;
  opacity: 0;
  background-color: #222222;
  transform: translateX(100px);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu-trigger, .close-trigger {
  position: absolute;
  display: none;
  top: 25px;
  right: 20px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 333;
}

.menu-trigger:hover .menu-trigger-bar:before, .close-trigger:hover .menu-trigger-bar:before {
  width: 100%;
}

.menu-trigger:hover .close-trigger-bar:before, .close-trigger:hover .close-trigger-bar:before {
  width: 100%;
}

.close-trigger {
  z-index: 5;
  top: 42px;
}

.menu-trigger-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  margin-bottom: 6px;
  transform: rotate(-45deg);
  position: relative;
}

.menu-trigger-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu-trigger-bar.top {
  width: 50%;
}

.menu-trigger-bar.middle:before {
  left: auto;
  right: 0;
}

.menu-trigger-bar.bottom {
  width: 50%;
  margin-left: 50%;
}

.close-trigger-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #222222;
  position: relative;
}

.close-trigger-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.close-trigger-bar.left {
  transform: translateX(100px) translateY(-100px) rotate(-45deg);
  top: -4px;
}

.close-trigger-bar.right {
  transform: translateX(-100px) translateY(-100px) rotate(45deg);
  top: -7px;
}

@media screen and (max-width: 840px) {
  .menu-trigger, .close-trigger {
    display: block;
  }

  .menu-header{
    display: none;
  }

  .inner-container, .menu-header {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  .inner-container {
    z-index: 20;
  }

  .menu-bg {
    position: absolute;
    z-index: 22;
    display: block;
    width: 1920px;
    height: 1920px;
    background-color: rgb(255, 255, 255);
  }

  .menu-bg.middle {
    top: -500%;
    right: -40%;
    transform: rotate(-45deg) scaleY(0);
  }
}
