<div class="header-container">
  <div class="menu-content">
    <div class="header-logo">
      <img src="../../../assets/MIV/LOGO/Logo 2.png" alt="Logo da NinjaWEB no header da pagina.">
    </div>

    <i class="menu-bg middle"></i>

    <ul class="menu-header">
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#servicos">Serviços</a>
      </li>
      <li>
        <a href="#sobre">Sobre</a>
      </li>
      <li>
        <a href="#contato">Contato</a>
      </li>
    </ul>

    <span class="menu-trigger">
      <i class="menu-trigger-bar top"></i>
      <i class="menu-trigger-bar middle"></i>
      <i class="menu-trigger-bar bottom"></i>
    </span>

    <span class="close-trigger">
      <i class="close-trigger-bar left"></i>
      <i class="close-trigger-bar right"></i>
    </span>
  </div>
</div>

